/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*#cover {*/
    /*background-color: whitesmoke;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
/*}*/

#firstBox{
    background-color: #255762;
    width: 24vw;
    height:25vh;
    position: fixed;
    right: 0px;
}
#secondBox{
    background-color: #337887;
    width: 24vw;
    height:25vh;
    position: fixed;
    top: 25vh;
    right: 0px;
}
#thirdBox{
    background-color: #419aab;
    width: 24vw;
    height:25vh;
    position: fixed;
    top: 50vh;
    right: 0px;
}
#fourthBox{
    background-color: #5eb1c2;
    width: 24vw;
    height:25vh;
    position: fixed;
    top: 75vh;
    right: 0px;
}



/*Making overlays to make sure scroll spy is working consistantly*/
#secondFake{
    top: 25vh;
}
#thirdFake{
    top: 50vh;
}
#fourthFake{
    top: 75vh;
}

#firstFake, #secondFake, #thirdFake, #fourthFake{
    position: fixed;
    width: 24vw;
    height:25vh;
    position: fixed;
    right: 0px;
    opacity: 0;
}

#fakeClose{
display: none;
}
#homeImg{
    height: 30px;
    position: fixed;
    top: 8px;
    left: 20px;
    z-index: 4;
}
#fakeHome{
    background-color: transparent;
    height: 40px;
    width: 24vw;
    position: fixed;
    top: 8px;
    right: 10px;
    z-index: 5;
}

.parallax-container {
    height: 100vh!important;
    width: 75vw!important;
}

#filterImg, #coverimg{
    position: absolute;
    height: 100vh;
    width: 75vw;
    object-fit: cover;
    z-index: 3;
}
#coverimg{
    background-color: #994a3a;
    opacity: 0.3;
    position: absolute;
    top: 0;
}
.fullsize{
    background-color: transparent;
    /*border-top: solid red 2px;*/
    min-height: 100vh;

}
.menuButtons{
    margin-top: 9vh;
}
#infoCover{
    position: absolute;
    top: 50vh;
    width: 75vw;
    height: 50vh;
    z-index: 3;
    background-color: rgba(34, 34, 34, 0.7);
    /*border-top: 1px solid #337887;*/
}
#blueLine{
    height: 1px;
    background-color: #337887;
    width: 90%;
    margin-left: 5%;
}
h2{
    font-weight: 100!important;
}
h3{
    font-weight: 200!important;
}

#logo{
/*position: relative;*/
    text-align: center;
    width: 60%;
    margin-left:20%;
    padding: 0px;
    z-index: 4;
}

.down {
    position: absolute;
    top:35vh;
    width: 30px;
    height: 30px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left:50%;

}
.down:hover {
    border-color:  #337887;
}


html
{background-image: url("../img/real_cf.png")  }
.dot {
    height: 165px;
    width:  165px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}
.dotTitle {
    margin-bottom: 20px;
}

.quoteForm{
    padding: 30px;
}
#menuImg{
    display: none;
}
#close{
    display: none;
}


@media only screen and (max-width: 600px) {
    #firstBox,#secondBox,#thirdBox,#fourthBox,#fakeHome,#firstFake,#secondFake,#thirdFake,#fourthFake,#close{
       display: none;
    }
    #filterImg, #coverimg, #cover, #infoCover, .parallax-container{
        width: 100vw !important;
    }
    .container{
        width: 80vw!important;
    }
    .contentBackground{
        left:0px;
        width: 65vw;
    }
    #menuImg{
        display: block;
        height: 30px;
        position: fixed;
        top: 8px;
        left: 20px;
        z-index: 4;
    }

    .openSide{
        display: block!important;
        width: 100vw!important;
        z-index: 9;
    }
    #homeImg,#fakeHome{
        width: 40px!important;
        left:1px;
        display: none;
        z-index: 12;
    }

    #close{
        width: 20px!important;
        position: fixed;
        top: 8px;
        right: 20px;
        z-index: 13;
        display: none;
        cursor: pointer;
    }
    #fakeClose{
        height: 30px;
        width: 40px!important;
        position: fixed;
        top: 8px;
        right: 20px;
        background-color: transparent;
        z-index: 10;
    }

}


@media only screen and (min-width: 600px) and (max-width: 992px) {

 #firstBox,#secondBox,#thirdBox,#fourthBox{
     width: 35vw;
 }
    #filterImg, #coverimg, #cover, #infoCover, .parallax-container{
        width: 63.5vw !important;
    }
    .container{
        margin-left:4vw!important;
        width: 71vw!important;
    }
    .contentBackground{
        left:0px;
        width: 65vw;

    }

}
@media only screen and (min-width: 992px) {

    .container{
        margin-left: 4vw!important;
        min-width: 80vw!important;
    }
    .contentBackground{
        left:0px;
        width: 75vw;

    }
    #about{
        padding-top: 8vh;
    }
}

.icon{
    height: 124px;
    margin-top: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    margin: 0px;
}

/*Sidebar*/

